.Menu {
  flex: 0;
}

.MenuContent {
  display: flex;
  justify-content: space-between;

  & > .Logo {
    width: 180px;
    flex-basis: 100px;
  }

  & > .Search {
    flex: 0 1 15%;
    display: flex;
    & > input {
      flex-basis: 100%;
      background-color: #e8eded;
      border-radius: 50px;
      border: navajowhite;
      color: black;
      font-family: ano-bold_regular, Helvetica, Arial, sans-serif;
      height: 24px;
      outline: none;
      padding-left: 10px;
      text-transform: uppercase;
    }
    & > input::placeholder {
      font-size: 11px;
    }
  }

  .MyMacLink {
    margin-left: 1.2%;
    > img {
      width: 20px;
      padding-top: 2px;
    }
  }

  .ShoppingCartLink {
    margin-left: 1%;
    > img {
      width: 16px;
      padding-top: 4px;
    }
  }

  & > .PromoStrip {
    margin-left: 2%;
    margin-right: 2%;
    flex: 1;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-family: ano-bold_regular, Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding-top: 8px;
    & > .PromoURL {
      margin-left: 5px;
      text-decoration: underline;
      font-size: 9px;
      margin-top: -2px;
      color: white;
    }
  }
}
.Nav {
  margin-top: 20px;
  display: flex;
  flex: 1 0;
  justify-content: center;
}
.NavItem {
  font-family: ano-bold_regular, Helvetica, Arial, sans-serif;
  font-size: 10px;
  text-decoration: none;
  color: black;
  margin-left: 1%;
  margin-right: 1%;
}
