.searchbox {
  display: inline-block;
  float: right;
}
input {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border-radius: 50px;
  font-family: Comic Sans MS;
  font-size: 26px;
  color: #ffd52d;
  outline: none;
  transition: 0.5s;
}
input:hover {
  width: 350px;
  background: #3b3640;
  border-radius: 10px;
}
