.Search {
  flex: 0 1 11%;
  display: flex;

  & > input {
    flex-basis: 100%;
    background-color: #e8eded;
    border-radius: 50px;
    border: navajowhite;
    color: black;
    font-family: $mainFontBold;
    height: 30px;
    outline: none;
    padding-left: 10px;
    text-transform: uppercase;
  }

  & > input::placeholder {
    font-size: 11px;
  }
}

.SearchResultsSummary {
  font-family: $mainFont;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 40px;
  margin-top: 50px;

  & > a {
    color: black;
  }
}
