$siteWidth: 1440px;
$mainFont: ano-regular, Helvetica, Arial, sans-serif;
$mainFontBold: ano-bold_regular, Helvetica, Arial, sans-serif;

@import "_menu.scss";
@import "_search.scss";
@import "_products.scss";

#root {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
}

// I chose PascalCase for all components
// because it's easier to read and understand
.App {
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.Content {
  margin-left: 10%;
  margin-right: 10%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

// this is only for local testing;
// the css would benefit from a few good media queries
// to make the site more responsive;
// flexbox is a great additional tool for this
// which I have used for most of the layout work;
@media (max-width: $siteWidth) {
  .Content {
    margin-left: 0;
    margin-right: 0;
  }
}
